.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,white 0%,skyblue 60%);
    gap: 30px;
    margin-top: 250px;
}
.newsletter h1{
    color: green;
    font-size: 40px;
    font-weight: 400;
    font-family: poppins;
}

.newsletter p{
    color: grey;
    font-size: 20px;
    font-family: poppins;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 500px;
    margin-bottom: 20px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid white;

}
.newsletter input{
    width: 500px;
    height: 25px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: green;
    font-family: Poppins;
    font-size: 16px;
}
.newsletter div button {
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.inp{
    width: 100px;
    height: 20px;
}